.col-sm-4.col-md-3.proto-content
/見本と同じ仕様で作成
  .dropdown-drop_menu_location-open
    %button#dropdownMenu.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}Action
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{"data-method" => "delete", :href => "/prototypes/629", :rel => "nofollow"} Delete
      %li
        %a{:href => "/prototypes/629/edit"} Edit
/ここから上まで小貫・syukan
  .thumbnail
test/test
    = link_to image_tag(prototype.set_main_thumbnail), prototype_path(prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to prototype.user.name, user_path(prototype.user)
        .proto-posted
          = prototype.posted_date

test/test
